.App {
	text-align: left;
}

.App-header {
	background-color: #282c34;
	color: white;
	position: fixed;
    width: 100%;
	z-index: 999;
}
.header-img {
	height: 24px;
	position: absolute;
}
.header-text {
	margin-left: 24px;
}

.App-link {
	color: #61dafb;
}

.section {
	padding: 1.5rem 0.75rem !important;
}
